@media (min-width: 575px) and (max-width: 768px) {
  /*carousel*/
.carousel_mobile{
  display: none;
}
.carousel-caption{
  color: $amarillo;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.carousel-caption a{
  color: $amarillo;
}
  /*main text*/

  .text_mobile{
    display: none;
  }
  .text_grid{
  	background-color: $rosa;
  	height: 1200px;
  	padding: 20px 20px 0 20px;
  	display: grid;
    margin: -2px 0 -2px 0;
  	grid-template-columns: 350px 350px;
  	grid-template-rows: 260px 100px 340px 180px auto;
  	grid-template-areas:
  	"textYellow textYellow"
    "linea linea"
  	"text01 text03"
  	"text02 text04"
  	"logo logo";
  	justify-content: center;
  }
  .mainText_top-yellow{
  	font-family: Agrandir-italic;
  	font-size: 17pt;
  	text-align: left;
  	color: $amarillo;
  	line-height: 22pt;
  	word-spacing: 4pt;
    padding-top: 50px;
  }
  .mainText_top-white{
  	font-family: Agrandir-Medium;
    font-weight: lighter;
  	font-size: 12pt;
  	color: white;
    text-align: left;
    letter-spacing: 1pt;
  }
  .text-yellow{
  	grid-area: textYellow;
    padding: 0 70px 0 60px;
  }
  .desktop_text01{
  	grid-area: text01;
  }
  .desktop_text02{
  	grid-area: text02;
  }
  .desktop_text03{
  	grid-area: text03;
  }
  .desktop_text04{
  	grid-area: text04;
  }
  .desktop_linea{
    grid-area: linea;
    margin: 50px 0 0 520px;
  }
  .mainText_top-white01{
    padding-right: 15px;
  }
  .mainText_top-white02{
    padding-right: 15px;
    margin-bottom: 50px;
  }
  .mainText_top-white03{
    padding-left: 15px;
  }
  .mainText_top-white04{
    padding-left: 15px;
    margin-top: -120px;

  }
  .main_logo{
  	grid-area: logo;
  	padding-left: 60%;
  }
  /*rrss*/
  .main_rrss ul{
    background-color: $rosa;
    margin: 0;
  }
.main_rrss-inline{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding: 20px 65px 0 0;
}
.main_rrss-inline li a i{
  margin: 10px;

}
.fa-instagram, .fa-twitter-square, .fa-spotify{
  color: $amarillo;
}
  /*contact*/
  .section_contact-mobile{
    display: none;
  }
  .section_contact-desktop{
  	background-color: $azul;
    margin-top: -2px;
  }
  .section_inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .section_inline-left{
  	font-family: Agrandir-italic;
  	color: $amarillo;
    padding-right: 30px;
  }
  .section_inline-left-big{
  	font-size: 16pt;
  	margin: 0 30px 0 0;
  }
  .section_inline-left-small{
    font-size: 8pt;
  }
  .section_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  	font-family: SpaceMonoBold;
  	font-size: 7pt;
  	color: grey;
  	text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 30px;
    margin: 0;
  }
  .section_inline-right{
  	font-family: SpaceMonoBold;
  	font-size: 8pt;
  	color: white;
  	padding:26px 0 15px 22px;
  	text-transform: uppercase;
  }
  #exampleInputEmail1{
  	font-family: Agrandir-Medium;
    font-size: 10pt;
  	color: $amarillo;
  	background-color: $azul;
  	border-color: $amarillo;
  	border-radius: 0;
    width: 220px;
  }
  .section_inline-left button{
  	font-size: 10pt;
  }
  .btn-primary{
  	background-color: $rosa;
  	border: transparent;
  	border-radius: 0;
  }
  .btn-primary:hover{
  	background-color: $amarillo;
  	color: $azul;
  }
  .formTextMail{
  	margin-bottom: 10px;
  }

  /*section final*/
  .section_logo-final{
    max-width: 100%;
  }

  /*footer*/
  .footer_mobile{
    display: none;
  }
  .section_logo-mobile{
    display: none;
  }
  .footer_desktop{
    background-color: $verde;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: -2px;
  }
  .designers{
    font-family: Agrandir-Medium;
    font-size: 7pt;
    color: grey;
    text-transform: uppercase;
    padding-top: 16px;
  }
  .link-britany{
    text-decoration: none;
    color: grey;
  }
  .link-britany:hover{
    color: $rosa;
  }
  .derechos{
    font-family: Agrandir-Medium;
    font-size: 7pt;
    color: $amarillo;
    padding-top: 16px;
  }
  .footer_logo img{
    padding-top: 8px;
  }

  .link{
    text-decoration: none;
    color: $amarillo;
  }
  .link:hover{
    color: $rosa;
  }
}
