html{
	margin: 0;
	padding: 0;
}
/*fonts*/
@font-face {
	src: url("Agrandir-GrandHeavyItalic.ttf");
	font-family: Agrandir-italic
}
@font-face {
	src: url("Agrandir-Normal-Medium.ttf");
	font-family: Agrandir-Medium;
}
@font-face {
	src: url("Salvaje-DisplayItalic.otf");
	font-family: Salvaje;
}
@font-face {
	src: url("SpaceMonoBold.ttf");
	font-family: SpaceMonoBold;
}

/*main text*/
.text_grid{
	background-color: #C082D5;
	height: 880px;
	padding-top: 70px;
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 280px 200px 200px auto;
	grid-template-areas:
	"textYellow textYellow"
	"text01 text03"
	"text02 text04"
	"logo logo";
	justify-content: center;
}
.mainText_top-yellow{
	font-family: Agrandir-italic;
	font-size: 17pt;
	text-align: left;
	color: #DCD600;
	line-height: 22pt;
	word-spacing: 4pt;
	margin-right: 10px;
}
.mainText_top-white{
	font-family: Agrandir-Medium;
	font-size: 12pt;
	text-align: justify;
	color: white;
	line-height: 12pt;
}
.text-yellow{
	grid-area: textYellow;
	width: 600px;
}
.text01{
	grid-area: text01;
	width: 260px;
}
.text02{
	grid-area: text02;
	width: 260px;
}
.text03{
	grid-area: text03;
	width: 260px;
}
.text04{
	grid-area: text04;
	width: 260px;
	margin-top: -50px;
}
.main_logo{
	grid-area: logo;
	padding-left: 360px;
}

/*contacto*/
.section_contact{
	background-color: #00235B;
}
.section_inline{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.section_inline-left{
	font-family: Agrandir-italic;
	color: #DCD600;
}
.section_inline-left-big{
	font-size: 16pt;
	margin: 40px 30px 4px 0;
}
.section_bottom{
	font-family: SpaceMonoBold;
	font-size: 7pt;
	color: grey;
	display: flex;
	justify-content: center;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.section_inline-right{
	font-family: SpaceMonoBold;
	font-size: 8pt;
	color: white;
	padding:26px 0 15px 22px;
	text-transform: uppercase;
}
#exampleInputEmail1{
	font-family: SpaceMonoBold;
	color: #DCD600;
	background-color: #00235B;
	border-color: #DCD600;
	border-radius: 0;
}
.section_inline-left button{
	font-size: 10pt;
}
.btn-primary{
	background-color: #C082D5;
	border: transparent;
	margin-top: 10px;
	border-radius: 0;
}
.btn-primary:hover{
	background-color: #DCD600;
	color: #00235B;
}
.formTextMail{
	margin-bottom: 10px;
}

/*section final*/
.section_logo-final{
	max-width: 100%;
}

/*footer*/
footer{
	background-color: #00371F;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px 0 30px 0;
}
.designers{
	font-family: SpaceMonoBold;
	font-size: 9pt;
	color: grey;
	text-transform: uppercase;
}
.link-britany{
	text-decoration: none;
	color: grey;
}
.link-britany:hover{
	color: #C082D5;
}
.derechos{
	font-family: SpaceMonoBold;
	font-size: 9pt;
	color: #DCD600;
}
.footer_columna{
	display: flex;
	flex-direction: column;
}
.redes{
	display: inline;
	font-family: SpaceMonoBold;
	color: #DCD600;
	font-size: 9pt;
	text-transform: uppercase;
	padding: 0;
}
.link{
	text-decoration: none;
	color: #DCD600;
}
.link:hover{
	color: #C082D5;
}

/*tablet*/
@media (min-width: 768px){

}
