@charset "UTF-8";
#toTopBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 21px;
  background-color: #DCD600;
  border-radius: 30px;
  opacity: 0.7; }

.js .cd-top--fade-out {
  opacity: .5; }

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1; }

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s; }

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: #DCD600;
  background-color: #DCD600; }

@media (min-width: 769px) {
  /*carousel*/
  .carousel_mobile {
    display: none; }
  .carousel-caption {
    color: #DCD600;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; }
  .carousel-caption a {
    color: #DCD600; }
  /*rrss*/
  .main_rrss ul {
    background-color: #C082D5;
    margin: 0; }
  .main_rrss-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 65px 0 0; }
  .main_rrss-inline li a img {
    margin: 10px; }
  /*main text*/
  .text_mobile {
    display: none; }
  .text_grid {
    background-color: #C082D5;
    height: 1080px;
    padding-top: 20px;
    margin-top: -2px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 260px 100px 280px 180px 150px;
    grid-template-areas: "textYellow textYellow" "linea linea" "text01 text03" "text02 text04" "logo logo";
    justify-content: center; }
  .mainText_top-yellow {
    font-family: Agrandir-italic;
    font-size: 17pt;
    text-align: left;
    color: #DCD600;
    line-height: 22pt;
    word-spacing: 4pt;
    padding-top: 50px; }
  .mainText_top-white {
    font-family: Agrandir-Medium;
    font-weight: lighter;
    font-size: 12pt;
    color: white;
    text-align: left;
    letter-spacing: 1pt; }
  .text-yellow {
    grid-area: textYellow;
    padding: 0 70px 0 60px; }
  .desktop_text01 {
    grid-area: text01; }
  .desktop_text02 {
    grid-area: text02; }
  .desktop_text03 {
    grid-area: text03; }
  .desktop_text04 {
    grid-area: text04; }
  .desktop_linea {
    grid-area: linea;
    margin: 20px 0 0 620px; }
  .mainText_top-white01 {
    padding-right: 15px; }
  .mainText_top-white02 {
    padding-right: 15px; }
  .mainText_top-white03 {
    padding-left: 15px; }
  .mainText_top-white04 {
    padding-left: 15px;
    margin-top: -70px; }
  .main_logo {
    grid-area: logo;
    padding-left: 550px; }
  /*contact*/
  .section_contact-mobile {
    display: none; }
  .section_contact-desktop {
    background-color: #00235B; }
  .section_inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px; }
  .section_inline-left {
    font-family: Agrandir-italic;
    color: #DCD600;
    padding-right: 30px; }
  .section_inline-left-big {
    font-size: 16pt;
    margin: 0 30px 0 0; }
  .section_inline-left-small {
    font-size: 8pt; }
  .section_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: SpaceMonoBold;
    font-size: 7pt;
    color: grey;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 30px;
    margin: 0; }
  .section_inline-right {
    font-family: SpaceMonoBold;
    font-size: 8pt;
    color: white;
    padding: 26px 0 15px 22px;
    text-transform: uppercase; }
  #exampleInputEmail1 {
    font-family: Agrandir-Medium;
    font-size: 10pt;
    color: #DCD600;
    background-color: #00235B;
    border-color: #DCD600;
    border-radius: 0;
    width: 220px; }
  .section_inline-left button {
    font-size: 10pt; }
  .btn-primary {
    background-color: #C082D5;
    border: transparent;
    border-radius: 0; }
  .btn-primary:hover {
    background-color: #DCD600;
    color: #00235B; }
  .formTextMail {
    margin-bottom: 10px; }
  /*section final*/
  .section_logo-final {
    max-width: 100%; }
  /*footer*/
  .section_logo-mobile {
    display: none; }
  .footer_mobile {
    display: none; }
  .footer_desktop {
    background-color: #00371F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: -2px; }
  .designers {
    font-family: Agrandir-Medium;
    font-size: 8pt;
    color: grey;
    text-transform: uppercase;
    padding-top: 16px; }
  .link-britany {
    text-decoration: none;
    color: grey; }
  .link-britany:hover {
    color: #C082D5; }
  .derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Agrandir-Medium;
    font-size: 8pt;
    color: #DCD600;
    padding-top: 16px; }
  .footer_logo img {
    padding-top: 8px; }
  .link {
    text-decoration: none;
    color: #DCD600; }
  .link:hover {
    color: #C082D5; } }

@media (min-width: 575px) and (max-width: 768px) {
  /*carousel*/
  .carousel_mobile {
    display: none; }
  .carousel-caption {
    color: #DCD600;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; }
  .carousel-caption a {
    color: #DCD600; }
  /*main text*/
  .text_mobile {
    display: none; }
  .text_grid {
    background-color: #C082D5;
    height: 1180px;
    padding: 20px 20px 0 20px;
    display: grid;
    margin-bottom: -2px;
    grid-template-columns: 350px 350px;
    grid-template-rows: 260px 100px 340px 400px auto;
    grid-template-areas: "textYellow textYellow" "linea linea" "text01 text03" "text02 text04" "logo logo";
    justify-content: center; }
  .mainText_top-yellow {
    font-family: Agrandir-italic;
    font-size: 17pt;
    text-align: left;
    color: #DCD600;
    line-height: 22pt;
    word-spacing: 4pt;
    padding-top: 50px; }
  .mainText_top-white {
    font-family: Agrandir-Medium;
    font-weight: lighter;
    font-size: 12pt;
    color: white;
    text-align: left;
    letter-spacing: 1pt; }
  .text-yellow {
    grid-area: textYellow;
    padding: 0 70px 0 60px; }
  .desktop_text01 {
    grid-area: text01; }
  .desktop_text02 {
    grid-area: text02; }
  .desktop_text03 {
    grid-area: text03; }
  .desktop_text04 {
    grid-area: text04; }
  .desktop_linea {
    grid-area: linea;
    margin: 50px 0 0 520px; }
  .mainText_top-white01 {
    padding-right: 15px; }
  .mainText_top-white02 {
    padding-right: 15px;
    margin-bottom: 50px; }
  .mainText_top-white03 {
    padding-left: 15px; }
  .mainText_top-white04 {
    padding-left: 15px;
    margin-top: -120px; }
  .main_logo {
    grid-area: logo;
    padding-left: 70%; }
  /*rrss*/
  .main_rrss ul {
    background-color: #C082D5;
    margin: 0; }
  .main_rrss-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 20px 65px 0 0; }
  .main_rrss-inline li a img {
    margin: 10px; }
  /*contact*/
  .section_contact-mobile {
    display: none; }
  .section_contact-desktop {
    background-color: #00235B; }
  .section_inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px; }
  .section_inline-left {
    font-family: Agrandir-italic;
    color: #DCD600;
    padding-right: 30px; }
  .section_inline-left-big {
    font-size: 16pt;
    margin: 0 30px 0 0; }
  .section_inline-left-small {
    font-size: 8pt; }
  .section_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: SpaceMonoBold;
    font-size: 7pt;
    color: grey;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 30px;
    margin: 0; }
  .section_inline-right {
    font-family: SpaceMonoBold;
    font-size: 8pt;
    color: white;
    padding: 26px 0 15px 22px;
    text-transform: uppercase; }
  #exampleInputEmail1 {
    font-family: Agrandir-Medium;
    font-size: 10pt;
    color: #DCD600;
    background-color: #00235B;
    border-color: #DCD600;
    border-radius: 0;
    width: 220px; }
  .section_inline-left button {
    font-size: 10pt; }
  .btn-primary {
    background-color: #C082D5;
    border: transparent;
    border-radius: 0; }
  .btn-primary:hover {
    background-color: #DCD600;
    color: #00235B; }
  .formTextMail {
    margin-bottom: 10px; }
  /*section final*/
  .section_logo-final {
    max-width: 100%; }
  /*footer*/
  .footer_mobile {
    display: none; }
  .section_logo-mobile {
    display: none; }
  .footer_desktop {
    background-color: #00371F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: -2px; }
  .designers {
    font-family: Agrandir-Medium;
    font-size: 7pt;
    color: grey;
    text-transform: uppercase;
    padding-top: 16px; }
  .link-britany {
    text-decoration: none;
    color: grey; }
  .link-britany:hover {
    color: #C082D5; }
  .derechos {
    font-family: Agrandir-Medium;
    font-size: 7pt;
    color: #DCD600;
    padding-top: 16px; }
  .footer_logo img {
    padding-top: 8px; }
  .link {
    text-decoration: none;
    color: #DCD600; }
  .link:hover {
    color: #C082D5; } }

@media (max-width: 575px) {
  /*carousel*/
  .carousel_desktop {
    display: none; }
  /*rrss*/
  .main_rrss ul {
    background-color: #C082D5;
    margin: 0; }
  .main_rrss-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none; }
  ul {
    padding: 0; }
  .main_rrss-inline li a img {
    margin: 10px; }
  /*main text*/
  .text_grid {
    display: none; }
  .text_mobile {
    display: block;
    background-color: #C082D5;
    padding-bottom: 20px;
    margin-top: -2px; }
  .text_mobile-yellow {
    font-family: Agrandir-italic;
    font-size: 14pt;
    color: #DCD600;
    padding: 80px 10px 20px 22px;
    text-align: left;
    line-height: 18pt; }
  .text_mobile-white {
    font-family: Agrandir-Medium;
    font-size: 10pt;
    color: white;
    text-align: left;
    margin: 0;
    padding: 30px 20px 10px 22px; }
  .main_mobile {
    background-color: #C082D5; }
  .main_mobile-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .mobile_linea {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px; }
  .mobile_logo {
    max-width: 100%; }
  .text_mobile-white p {
    margin-bottom: 10px; }
  /*contact*/
  .section_contact-desktop {
    display: none; }
  .section_contact-mobile {
    background-color: #00235B; }
  .section_inline-left-big {
    font-family: Agrandir-italic;
    font-size: 15pt;
    color: #DCD600;
    line-height: 17pt;
    padding: 50px 0 0 20px; }
  .section_inline-left-small {
    font-family: Agrandir-Medium;
    font-size: 8pt;
    color: #C082D5;
    padding: 10px 0 0 20px; }
  #exampleInputEmail1 {
    font-family: Agrandir-Medium;
    font-size: 10pt;
    background-color: #00235B;
    border-color: #DCD600;
    border-radius: 0;
    width: 200px;
    margin-left: 20px; }
  .section_inline-right {
    margin-top: 16px; }
  .btn-primary {
    background-color: #C082D5;
    border: #C082D5;
    border-radius: 0;
    font-family: SpaceMonoBold;
    font-size: 8pt;
    margin-right: 20px; }
  .btn-primary:hover {
    background-color: #DCD600;
    color: #00235B; }
  .section_bottom {
    font-family: SpaceMonoBold;
    color: grey;
    font-size: 5pt;
    text-transform: uppercase;
    padding: 10px 10px 20px 20px; }
  /*section final*/
  .section_logo-final {
    max-width: 100%; }
  /*footer*/
  .footer_desktop {
    display: none; }
  .section_logo-final {
    display: none; }
  .footer_mobile-logo {
    margin-top: 50px; }
  .section_logo-mobile {
    max-width: 100%; }
  .footer_mobile {
    background-color: #00371F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin: -2px; }
  .mail_mobile {
    font-family: Agrandir-Medium;
    text-transform: lowercase;
    color: #DCD600;
    font-size: 10pt;
    margin-top: 20px; }
  .footer_rrss a {
    font-family: SpaceMonoBold;
    font-size: 8pt;
    text-transform: uppercase;
    color: #C082D5; }
  .derechos_mobile {
    font-family: Agrandir-Medium;
    font-size: 10pt;
    color: #C082D5;
    text-align: center;
    margin: 30px; }
  .designers_mobile a {
    display: inline;
    font-family: SpaceMonoBold;
    color: grey;
    font-size: 7pt;
    text-transform: uppercase; }
  /*botón*/
  #toTopBtn {
    display: none; } }

html {
  margin: 0;
  padding: 0;
  background-color: #C082D5; }

a {
  text-decoration: none; }

p {
  margin: 0; }

@font-face {
  src: url("Agrandir-GrandHeavyItalic.ttf");
  font-family: Agrandir-italic; }

@font-face {
  src: url("Agrandir-Normal-Medium.ttf");
  font-family: Agrandir-Medium; }

@font-face {
  src: url("Salvaje-DisplayItalic.otf");
  font-family: Salvaje; }

@font-face {
  src: url("SpaceMonoBold.ttf");
  font-family: SpaceMonoBold; }
